.newPostButton {
    margin: 20px;
    text-align: right;
    position: relative;
}

#newPostButton {
    transition: transform 0.5s ease;
    border-radius: 20px;
    border-color: darkred;
    width: 40px;
    height: 40px;
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 10px;
}

.newPostButton button:hover {
    background-color: darkred;
}

.newPostContent {
    background-color: #f6f6f6;
    border: 1px solid #ddd;
    border-radius: 20px;
    padding: 5px;
    right: 0;
}

.hidden {
    display: none;
}

#submitButton {
    border-radius: 20px;
    border-color: darkred;
    font-weight: bold;
    margin: 10px;
}

#newPostComment {
    height: 140px;
    width: 290px;
    border-radius: 20px;
    border-color: darkred;
    text-align: left;
    padding: 10px;
    outline: none;
}

.rotateNewPostButton {
    transform: rotate(45deg);
}

.newPostButton {
    position: relative;
}

#newPost {
    position: absolute;
    background-color: #f6f6f6;
    border: 1px solid #ddd;
    border-radius: 20px;
    margin: 0;
    padding: 10px;
    box-shadow: 0 0 40px 0 rgba(0, 0, 0, 0.2);
    right: 0;
}